<div class="grid grid--cols-3>">
  <div class="col col--span-2">
    <img
      class="image image-dither image--cover"
      src="https://static01.nyt.com/images/2025/11/11/multimedia/11dc-trump-healthcare-thcp/11dc-trump-healthcare-thcp-mediumSquareAt3X.jpg"
    >
  </div>
  <div class="col col--span-1 gap--medium">
    <div class="title title-large">As Shutdown Nears End, Trump Still Confronts Soaring Health Costs</div>
    <div>
      Millions of Americans who will lose access to subsidies when the current formula expires are looking at a jump in
      premiums, in many cases hundreds of dollars a month.
    </div>
    <div class="col col--span-1 flex--bottom">
      <img class="image" src="https://static01.nyt.com/images/misc/NYT_logo_rss_250x40.png">
    </div>
  </div>
</div>
