{% assign story = rss.channel.item[0] %}

<style>
  .title {
    font-weight: 700;
  }
</style>

<div class="grid grid--cols-3>">
  <div class="col col--span-2">
    <img
      class="image image-dither image--cover"
      src="{{ story.content.url}}"
    >
  </div>
  <div class="col col--span-1 gap--medium">
    <img src="https://static01.nyt.com/images/misc/NYT_logo_rss_250x40.png">
    <div class="title title-large">{{ story.title }}</div>
    <div class="text">
      {{ story.description }}
    </div>
  </div>
</div>
