{% assign story = rss.channel.item[0] %}

<div class="grid grid--cols-3>">
  <div class="col col--span-1">
    <img
      class="image image-dither"
      src="{{ story.content.url}}"
    >
  </div>
  <div class="col col--span-2 gap--medium">
    <div class="title title-large">{{ story.title }}</div>
    <div class="text">
      {{ story.description }}
    </div>
    <div class="flex flex--row flex--right">
      <svg
        class="t-logo"
        width="16.097560975609756px"
        height="19px"
        viewBox="0 0 33 41"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M32.832 25.356c-1.373 3.501-3.908 6.205-7.545 7.638v-7.638l4.352-3.765-4.35-3.715v-5.252c3.965-.262 6.72-3.077 6.72-6.524 0-4.506-4.463-6.1-6.996-6.1-.55 0-1.158 0-2.039.215v.213c.332 0 .83-.052.992-.052 1.766 0 3.086.793 3.086 2.333 0 1.166-.992 2.334-2.754 2.334-4.354 0-9.475-3.395-15.042-3.395C4.3 1.647.884 5.2.884 8.808c0 3.554 2.147 4.72 4.407 5.516l.053-.213c-.713-.425-1.21-1.166-1.21-2.335 0-1.59 1.542-2.92 3.472-2.92 4.685 0 12.23 3.768 16.913 3.768h.441v5.305l-4.352 3.658 4.354 3.769v7.743c-1.815.637-3.69.902-5.62.902-7.273 0-11.899-4.247-11.899-11.299 0-1.695.22-3.342.715-4.934l3.637-1.538v15.595l7.383-3.129v-15.97L8.324 17.395c1.098-3.077 3.358-5.303 6.056-6.576l-.053-.16C7.053 12.194 0 17.5 0 25.457 0 34.633 8.043 41 17.411 41 27.328 41 32.947 34.637 33 25.35h-.166v.006h-.002z"
          fill="currentColor"
          fillRule="evenodd"
        ></path>
      </svg>
    </div>
  </div>
</div>
