<div class="layout">
  <div class="columns">
    <div class="column">
      <span class="title">Sarah Jessica Parker’s Year of Judging the Booker Prize</span>
      <span
        >The actor had to read so many books (153) she bowed out of most family activities. Still, she said,
        collaborating to pick a winner was worth the sacrifice.</span
      >
    </div>
    <div class="column">
      <img
        class="image image-dither image--cover"
        src="https://static01.nyt.com/images/2025/11/11/multimedia/11tbr-SJP-BOOKER-YEAR-lcfp/11tbr-SJP-BOOKER-YEAR-lcfp-googleFourByThree.jpg"
      >
    </div>
  </div>
</div>
